
/* MAIN  SPECIFICATION */
body{
   margin: 0 ;
   max-width: 100%;
}


.yellow-container{
  width: 100%;
  height: auto;
  background-color: var(--yellow-container);
}

.silver-container{
  width: 100%;
  height: auto;
  background-color: var(--silver-container);

}
.borderless-btn, .primary-btn{
  font-family: "Poppins", sans-serif;
  color: var(--green);
  font-weight: 600;
}

.secondary-btn{
  font-family: "Poppins", sans-serif;
  color: var(--white);
  font-weight: 600;
}

ul{
    list-style: none;
    text-align: center;
}

h2 , h3 , h4 , h5, h6{
  font-family: "Poppins", sans-serif; 
  font-weight: bold;
  color: var(--black);
  line-height: 130%;
  letter-spacing: -2%;
  margin: 0;
}


p {
   font-family: "Mulish", sans-serif;
   color: var(--black);
   font-style: normal;
   line-height: 150%;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #009379;
  text-decoration: none;
  line-height: 20px;
}

.first-row img, .second-row img, .third-row img{
  margin: 40px 0;
  width: 64px; 
}