
/* MAIN  SPECIFICATION */
body{
   margin: 0 ;
   max-width: 100%;
}


.yellow-container{
  width: 100%;
  background-color: var(--yellow-container);
}

.silver-container{
  width: 100%;
  background-color: var(--silver-container);
}
.borderless-btn, .primary-btn{
  font-family: "Poppins", sans-serif;
  color: var(--green);
  font-weight: 600;
}

.secondary-btn{
  font-family: "Poppins", sans-serif;
  color: var(--white);
  font-weight: 600;
}

ul{
    list-style: none;
    text-align: center;
}

h2 , h3 , h4 , h6{
  font-family: "Poppins", sans-serif; 
  font-weight: bold;
  color: var(--black);
}


p {
   font-family: "Mulish", sans-serif;
   color: var(--black);
   font-style: normal;
}

