.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1280px;
    background-color: #F8D57E;
}




.logo-wrapper{
    display: flex;
    gap: 6px ;
    margin: 0;
    margin-top: 34px;
    margin-bottom: 34px;
    margin-left: 20px;
}


.logo-wrapper h1{
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    font-size: 21px;
}

@media (max-width: 1024px)
{
    .logo-wrapper h1{
        display: none;
    }
}


.logo-wrapper span{
    font-weight: 400;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}

@media (max-width: 767px)
{
    .nav-list{
        margin-right: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px)
{
    .nav-list{
        margin-right: 30px;
    }
}




.rocket-launch{
    display: flex;
    align-items: center;
}

.rocket-launch img{
    margin-right: 8px;
}

@media (max-width: 1024px)
{
    .rocket-launch img{
        display: none;
    }
}

.btn-contact{
    margin-right: 50px;
}

@media (max-width: 1024px)
{
    .btn-contact{
        display: none;
    }
}

.btn-light-green{
    background-color: #E5F4F2;
    width: 202px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px; 
}

@media (max-width: 1024px)
{
    .btn-light-green{
        display: none;
    }
}

.btn-dark-green{
    background-color: #009379;
    width: 221px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;  
}





/* Start of top-content sectcion */
.top-content{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    background-color: #F8D57E;
    margin: 0;
}

@media (max-width: 1024px)
{
    .top-content{
        flex-direction: column;
      
    }
}

.content-desc {
    margin-top:121px ;
    width: 620px ;
    margin-left:55px ;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px)
{
    .content-desc{
        width: 315px;
        height: 417px;
        margin:  auto;
        margin-top: 60px;
        text-align: center;
    }
}

@media (min-width: 768px ) and (max-width: 1024px){
    
    .content-desc{
        width: 100%;
        margin:  auto;
        margin-top: 60px;
        text-align: center;
    }
}


.content-desc h2{
    font-size: 67px;
    font-weight: bold; 
    margin: 0;
}

@media (max-width: 767px)
{
    .content-desc h2{

        font-size: 38px;
    }

    .mobile-h2 {
        padding-left: 45px;
        margin-right: 37px;
    }
}

.content-desc p{
    color: #2d2d2d;
    font-size: 21px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 767px)
{
    .content-desc p{
       width: 315px;
       height: 72px;
       font-size: 16px;
       text-align: center;
    }
}

.content-desc span a{
    color: #3366ff;
    font-size: 21px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media (max-width: 767px)
{
    .content-desc span a{
       font-size: 16px;
    }
}

.content-picture{
    margin-top: 121px;
    margin-right:55px ;
    height: 450px;
}

@media (max-width: 767px)
{

    .content-picture{
        margin: 0 auto;
        width: 315px;
       height: 315px;
    }

    .content-picture img{
       width: 315px;
       height: 315px;
       margin-top: 0;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .content-picture{
        margin: 0 auto;
        
    }
}

.content-button{
    display: flex;
    justify-content:start;
    align-items: start;
    padding: 0;
    gap: 18px;
}

@media (max-width: 767px)
{
    .content-button{
       flex-direction: column;
       align-items: center;
        margin: auto;
    }

    .btn-white{
        height: 60px;
        width: 221px;
        margin: 0 auto;
    }

    .btn-dark-green{
        margin: 0 auto;  
    }
}

@media (min-width: 768px) and (max-width: 1024px)
{
    .content-button{
       flex-direction: row;
       align-items: center;
        margin: auto;
    }

    .btn-white{
        height: 60px;
        width: 221px;
        margin: 0 auto;
    }

    .btn-dark-green{
        margin: 0 auto;  
    }
}

/* Start of feature section
 */
.features{
    display: flex;
    gap: 60px;
    background-color: var(--background);
}

@media (max-width: 1024px)
{

    .features{
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        margin-top: 0;
    
    }
}


.full-mobile-picture{
    margin-top: 120px;
    width: 540px;
    height: 450px;
}

@media (max-width: 767px)
{

    .full-mobile-picture{
        height: 267px;
        width: 320px;
        margin: auto;
    }

    .full-mobile-picture img{ 
        height: 267px;
        width: 320px;
        
    }
}

@media (min-width: 768px) and (max-width: 1024px)
{

    .full-mobile-picture{
        height: 450px;
        width: 540px;
        margin: auto;
    }

    .full-mobile-picture img{ 
       height: 450px;
        width: 540px;
        
    }
}

.features-desc{
    margin-top: 153.5px;
    width: 570px;
    height: 400px;
}


@media (max-width: 767px)
{

    .features-desc{
        width: 315px;
        height: 635px;
        margin: 60px auto;
        
    }
}

@media (min-width: 768px) and (max-width: 1024px)
{

    .features-desc{
        text-align: center;
        margin: 60px auto;
        
        
    }
}
.features h3{
    font-size: 38px;
    font-weight: bold;
}

@media (max-width: 767px)
{

    .features h3{
        margin-top: 60px;
        text-align: center;
    }
}

.features p{
    font-size: 21px;  
}

@media (max-width: 767px)
{

    .features p{
        text-align: center;
       
    }
}

.feature-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}


.features-btn{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin-top: 50px;
    padding-left: 0px;
}

@media (max-width: 767px)
{

    .features-btn{
    grid-template-columns: repeat(1, 1fr);
    margin: 0  auto;
    width: 315px;
    }

    .features-btn li{
        width: 315px; 
        height: 90px;
    }
}

/* Start of latest work section */

.latest-work{
    margin: 0;
   background-color: var(--background);
}

@media (max-width: 767px){
    .latest-work{
        width: 375px ;
        height: 1665px;
    }
}


.latest-work-headline{
    margin-top: 120px;
    text-align: center;
}

@media (max-width: 767px){
    .latest-work-headline{
       width: 315px;
       height: 177px;
       margin: 60px auto 0  ;
    }
   
}

@media (min-width: 768px) and (max-width: 1024px){
    .latest-work-headline{
        margin-top: 100px;
    }
}

.latest-work-headline h3 {
    font-size: 38px;
    font-weight: bold;
}
 

.latest-work-headline span h3{
    display: none;
}

@media (max-width: 1024px){
    .latest-work-headline h3 {
        display: none;
        margin: 0;
    }
    .latest-work-headline span h3{
        display: inline-block;
        font-size: 38px;
        font-weight: 600px;
        padding: auto;
    }
}

.latest-work-headline p{
    font-size: 16px;
}

.project-list {
    display: flex;
    justify-content: space-between;
    margin: 60px auto 120px auto;
    width: 1170px;
    height: 454px;
    
}

@media (max-width: 767px){
    .project-list{
        flex-direction: column;
        width: 315px;
        height: 446px;
        gap: 30px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .project-list{
        justify-content: space-evenly;
        width: 100%;
    }
}


.project-picture{
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px){
    .project-picture{
    width: 100%;
    height: 100%;
    
}
}
.project-one{
    display: flex;
    flex-direction: column;
     background-color: var(--white);
     border-radius: 20px;
}

@media (min-width: 768px) and (max-width: 1024px)

{
    .project-one{
        width:213.33px ;
        height: 330px;
    }
}
.project-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 30px 0;
}


@media (max-width: 767px){
    .project-details {
       margin-left: 30px;
    }
}

.project-details p{
    margin: 0;
    font-size: 21px;
    margin-top: 12px;
}

.project-details h4{
    margin: 0;
    font-size: 28px;
    font-weight: 600px;
}


.project-details span{
    margin: 0;
    margin-top: 12px;
    font-size: 16x;

}

@media (min-width: 768px) and (max-width: 1024px)
{
    .project-details h4{
    margin: 0 auto;
    font-size: 21px;
    font-weight: 600px;
    }
    .project-details p{
         margin: 0 auto;
         font-size: 16px;
    }

    .project-details span{
    margin: 0 auto;
    margin-top: 12px;
    font-size: 14x;

}
}



/* Customer reviews section */

.customer-reviews {
    margin: 0;
    background-color: #F8D57E ;
    border: 1px solid transparent;
}

@media (max-width: 767px){
    .customer-reviews{
        width: 375px;
        height:1471.17px ;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0;
    }
}

.review-heading {
    margin-top: 120px;  
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
}

@media (max-width: 767px) {
    .review-heading{
        width: 311px;
        height: 215px;
        margin-top: 0;
        margin: 0 auto;
    
    }
}

.review-heading h4{
    margin: 0;
    font-size: 38px;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: -2%;
}


@media (max-width: 767px) {
    .review-heading h4{
     padding: 0 15px;
    }
}

.review-heading p{
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
}

.reviews-card {
    display: flex;
    flex-direction: row;
    margin: 60px auto 120px auto;
    justify-content: center;
    width: 100%;
    height: 271px;
    
}

@media (max-width: 1024px){
    .reviews-card{
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 60px auto 120px auto;
    }
}
.review-card-details{
    background-color: white;
    display: flex;
    padding: 40px 40px;
    gap: 30px;
    border-radius: 20px;
}

@media (max-width: 767px){
    .review-card-details{
        flex-direction: column;
        margin: 60px 32px 0 32px;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .review-card-details{
        margin: 40px;
    }
}

.customer-details{
    text-align: center;
    margin: 0;
}



.customer-details h5{
    margin: 0;
    margin-top: 16px;
    margin-bottom: 6px;
}

.customer-rating{
    margin: 23.96px auto;
}
@media (max-width:767px){
    .customer-rating{
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .customer-rating{
  
    width: 390px;
}
}
.text-reviews{
    font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1024px){
    .text-reviews br{
        display: none;
        width: 390px;
    }
}

.rating-star{
    width: 280px;
    height: 23.08px;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

@media (max-width: 767px){
    .rating-star{
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
    }
}
/* Meet our team section  */

.our-team{
    background-color: var(--background);
    margin: 0;
    width: 1280px;
    height: 800px;
    border: 1px solid transparent;  
    /* If I didn't put border, it just goes below and adds space out of nowhere */
}

@media (max-width: 767px){
    .our-team{
        margin: 0;
        width: 375px;
        height: 1630px;
        display: flex;
        flex-direction: column;
    }
}
.our-team-heading {
    text-align: center;
    margin-top: 120px;
}   


@media (max-width: 767px){
    .our-team-heading{
        margin: 0;
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 30px;
        
    }
}

.our-team-heading h4{
    font-size: 38px;
    font-weight: bold;
    line-height: 130%;
    margin: 0;
}

@media (max-width: 767px){
    .our-team-heading h4{
       font-weight: 600;
    }
}
.our-team-heading p {
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
}

.team-cards{
    margin: 60px 55px 120px 55px;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 767px){
    .team-cards{
        flex-direction: column;
        gap: 30px;
        width: 315px;
        height: 1333px;
        margin: 60px auto;
        gap: 30px;
    }
}

.team-card-details{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 370px;
    height: 407px;
}

@media (max-width: 767px){
    .team-card-details{
        width: 315px;
        height: 433px;
        
    }
}
.team-profile{
   margin: 40px 30px 30px 30px;
   text-align: center;
}
@media (max-width: 767px){
    .team-profile{
        width:255px ;
        height: 169px;
    }
}
.team-profile h6{
    font-size: 26px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 6px;
}

.team-profile span{
    font-size: 16px;
}

.team-desc{
    text-align: center;
    margin-left: 30px ;
    margin-right: 30px;
      
}

@media (max-width: 767px){
    .team-desc{
        width:255px ;
        height: 104px;
        margin: 0 auto;
    }
}
.social-link{
    width: 310px;
    height: 20px;
}
@media (max-width: 767px){
    .social-link{
        width:255px ;
    }
}

.social-text {
    display: flex;
    justify-content: space-evenly;
}

/* Companies Intergration section */

.intergrations-container{
 width: 1280px;
 height: 905px;
 border: 1px solid transparent; 
 background-color: var(--background);
}

@media (max-width: 767px){
    .intergrations-container{
        width: 375px;
        height: 738px;
        margin: 0;
    }
}


.intergations-heading{
    text-align: center;
}

@media (max-width: 767px){
    .intergations-heading{
        width: 315px;
        height: 166px;
        margin: 0 auto;
        margin-top: 60px;
    }
}
.intergations-heading h4{
    font-size: 38px;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: -2%;
    margin: 0;
    margin-top: 120px ;
    margin-bottom: 20px;
}

@media (max-width: 767px){
    .intergations-heading h4{
        margin-top: 0;
    }
}

.intergations-heading p{
 font-size: 16px;
 margin: 0;
}

.companies-icon{
    width: 1170px;
    height: 432px;
    margin: 20px auto 0px auto;
}

@media (max-width: 767px){
    .companies-icon{
        width: 315px;
        height: 312px;
    }
}

.first-row{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
     width: 1170px;
    height: 144px;

}

@media (max-width: 767px){
    .first-row{
        width: 315px;
        height: 104px;
    }
}

.first-row img{
    margin: 40px 0;
    width: 64px;
    height: 64px;
  
}

@media (max-width: 767px){
    .first-row img{
     margin: 32px 0;
    width: 40px;
    height: 40px;
    }
}
.second-row{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
    width: 960px;
    height: 144px;
    margin: 0 auto;

}


@media (max-width: 767px){
    .second-row{
        width: 255px;
        height: 104px;
    }
}
.second-row img{
    margin: 40px 0;
    width: 64px;
    height: 64px;
  
}

@media (max-width: 767px){
    .second-row img{
     margin: 32px 0;
    width: 40px;
    height: 40px;
    }
}

.third-row{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: space-between;
     width: 720px;
    height: 144px;
   margin: 0 auto;
}

@media (max-width: 767px){
    .third-row{
        width: 195px;
        height: 104px;
    }
}

.third-row img{
    margin: 40px 0;
    width: 64px;
    height: 64px;
  
}

@media (max-width: 767px){
    .third-row img{
     margin: 32px 0;
    width: 40px;
    height: 40px;
    }
}

.btn-green-longer {
    background-color: #009379;
    width: 267px;
    height: 60px;
    border: 1px solid transparent;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
   color: white;
   margin: 40px auto 120px auto;
}

/* Start of Landing Page UI KIT today  */

.ui-kit{
    display: flex;
    flex-direction: column;
    width: 1280px;
    height: 539px;
    background-color: #F8D57E;
}

@media (max-width: 767px){
    .ui-kit{
        width: 375px;
        height: 440px;
    }
    
}

.ui-kit-top{
    text-align: center;

}

.ui-kit-top h4{
    font-size: 50px;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: -2%;
    margin: 0;
    margin-top: 60px ;
}

@media (max-width: 767px){
    .ui-kit-top h4{
        font-size: 28px;
        font-weight: 600;
        margin: 0 auto;
        margin-top: 60px;
    }
    
}
.ui-kit-top p{
    font-size: 21px;
    line-height: 150%;
    margin: 0;
    margin-top: 20px;
} 

@media (max-width: 767px){

    .ui-kit-top p{
        font-size: 16px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
    }
    
}

.ui-kit-middle{
    margin: 40px auto ;
}

.bottom-laptop-picture{
    width: 1170px;
    height: 220px;
}

@media (max-width: 767px){
    .bottom-laptop-picture img{
    width: 320px;
    height: 97px;
    }

    .bottom-laptop-picture{
        margin: 0 auto;
        width: 320px;
        height: 100px;
    }
}

/* Footer section  */
footer{
    width: 1280px;
    height: 80px;
    background-color: #2D2D2D;    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 767px){
    footer{
        width: 375px;
        height: 120px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: start;
    }
}

.copyright{
    color: #FFFFFF;
    margin-left:60px ;    
}
@media (max-width: 767px){
    .copyright{
        margin-left: 20px;
    }
}
.footer-socials-icon{
    margin-right: 60px;
}

@media (max-width: 767px){
    .footer-socials-icon{
        margin-left: 20px;
    }
}