.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  gap: 442px;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-top: 34px;
  margin-left: 50px;
  margin-bottom: 34px;
}

.logo-wrapper img {
  max-width: 32px;
  height: 32px;
  width: 100%;
}

.logo-wrapper h1 {
  font-size: 21px;
  margin: 0;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-weight: bold;
}

.logo-wrapper span {
  font-weight: 400;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  gap: 20px;
  margin-right: 50px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.borderless-btn {
  border-radius: 20px;
  background-color: var(--yellow);
  line-height: 24px;
  border: transparent;
  font-size: 16px;
  padding-top: 20px;
  padding-right: 25px;
  display: inline-block;
  cursor: pointer;
}

.borderless-btn:hover {
  color: var(--black);
}

.primary-btn {
  border-radius: 20px;
  border: transparent;
  padding: 17px 50px;
  background-color: var(--light-green);
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: var(--green);
  color: var(--white);
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: transparent;
  padding: 16px 50px;
  background-color: var(--green);
  font-size: 16px;
  line-height: 24px;
  gap: 8px;
  cursor: pointer;
}

.secondary-btn img {
  height: 20px;
  max-width: 20px;
  width: 100%;
}

.alternative-secondary-btn {
  display: none;
}

/* Media Queries for NavBar */

@media (max-width: 480px) {
  .nav-list {
    display: inline-block;
    margin-right: 0%;
    padding-right: 20px;
  }
  .primary-btn:hover {
    display: none;
  }
  .borderless-btn,
  .primary-btn,
  .secondary-btn {
    display: none;
    margin: 0%;
    padding: 0%;
  }
  .alternative-secondary-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    border: transparent;
    padding: 16px 55px;
    background-color: var(--green);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    gap: 8px;
    cursor: pointer;
  }

  .alternative-secondary-btn img {
    height: 20px;
    max-width: 20px;
  }
  .nav-bar {
    width: 100%;
    gap: 82px;
  }
  .logo-wrapper h1,
  .logo-wrapper span {
    display: none;
  }

  .logo-wrapper {
    margin-left: 20px;
  }
}

/* Start of top-content sectcion */
.top-content {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.content-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 620px;
  height: 448px;
  margin-top: 120px;
  width: 100%;
}

.content-desc h2 {
  font-size: 67px;
  margin: 0;
}

.content-desc p {
  font-size: 21px;
  line-height: 150%;
  padding-right: 16px;
  letter-spacing: 0%;
  margin: 0;
}

.content-desc span a {
  color: #3366ff;
  font-size: 21px;
  line-height: 150%;
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

.content-picture {
  max-width: 450px;
  height: 449px;
  margin-top: 120px;
  width: 100%;
}

.content-button {
  display: flex;
  gap: 18px;
  padding-left: 0;
}

/* Start of feature section
 */
.features {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.full-mobile-picture {
  max-width: 540px;
  width: 100%;
  height: 450px;
  margin-top: 120px;
  margin-bottom: 120px;
}

.features-desc {
  margin: 0%;
  gap: 50px;
  max-width: 570px;
  width: 100%;
  margin-top: 153.5px;
  margin-bottom: 153.5px;
}

.features h3 {
  font-size: 38px;
}

.features p {
  font-size: 21px;
  padding-right: 10px;
}

.features-group-btn {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
}

.features-btn img {
  height: 50px;
  max-width: 50px;
  width: 100%;
}

.features-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 275px;

  border-radius: 20px;
  border: 1px solid transparent;
  background-color: #ffffff;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
  cursor: pointer;
}

.features-btn span {
  font-size: 21px;
  font-family: "Mulish", sans-serif;
  line-height: 150%;
}

/* Start of latest work section */

.latest-work {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

.latest-work-headline {
  text-align: center;
  padding-top: 120px;
}

.latest-work-headline h3 {
  margin: 0;
  font-size: 38px;
}

.latest-work-headline span h3 {
  display: none;
}

.latest-work-headline p {
  margin: 0;
  font-size: 16px;
  margin-top: 20px;
}

.project-lists {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 120px;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

.project-group {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 20px;
  padding-bottom: 30px;
}
.project-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 30px;
  margin-top: 30px;
}

.project-details p {
  margin: 0;
  font-size: 21px;
}

.project-details h4 {
  margin: 0;
  font-size: 28px;
  font-weight: 600px;
}

.project-details span {
  margin: 0;
  font-size: 16px;
}

/* Customer reviews section */

.customer-reviews {
  max-width: 1280px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.review-heading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-heading h4 {
  margin: 0;
  font-size: 38px;
  letter-spacing: -2%;
  margin-top: 120px;
}

.review-heading p {
  margin: 0;
  font-size: 16px;
  line-height: 150%;
}

.reviews-card {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
  padding-bottom: 120px;
}

.review-card-details {
  display: flex;
  padding: 40px;
  gap: 30px;
  background-color: var(--white);
  border-radius: 20px;
}

.customer-details {
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
  max-width: 180px;
  width: 100%;
}

.customer-details h5 {
  margin: 0;
  padding-top: 10px;
  font-size: 21px;
  font-weight: 600;
}

.customer-details img {
  max-width: 120px;
  height: 120px;
  width: 100%;
}

.customer-rating {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  text-align: start;
  max-width: 280px;
  width: 100%;
}

.text-reviews {
  padding-left: 5px;
}

.rating-star {
  max-width: 280px;
  width: 100%;
  height: 23.08px;
}

/* Meet our team section  */

.our-team {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 120px 0;
}

.our-team-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-team-heading h4 {
  font-size: 38px;
  margin: 0;
}

.our-team-heading p {
  font-size: 16px;
  margin: 0;
}

.team-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  max-width: 1170px;
  width: 100%;
  margin: 60px auto 0;
}

.team-card-details {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 20px;
  gap: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 370px;
  width: 100%;
}

.team-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
}

.team-profile h6 {
  font-size: 21px;
  margin: 0;
  font-weight: 600;
  padding-top: 16px;
}

.team-profile span {
  font-size: 16px;
  line-height: 20%;
  color: #3a3541;
  padding-top: 6px;
}

.team-desc {
  text-align: center;
  max-width: 310px;
  width: 100%;
  margin: 0 auto;
}

.team-profile img {
  max-width: 100px;
  height: 100px;
  width: 100%;
}

.social-text {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0 auto;
  padding-left: 0;
  max-width: 310px;
  width: 100%;
}

/* Companies Intergration section */

.intergrations-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.intergations-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 120px;
}

.intergations-heading h4 {
  font-size: 38px;
}

.intergations-heading p {
  font-size: 16px;
  margin: 0;
}

.companies-icon {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 960px;
  width: 100%;
  margin: 0 auto;
}

.third-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

#special-button {
  padding: 16px 50px;
  max-width: 275px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
}

/* Start of Landing Page UI KIT today  */

.ui-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.ui-kit-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0px;
  text-align: center;
}

.ui-kit-top h4 {
  font-size: 50px;
}

.ui-kit-top p {
  font-size: 21px;
  margin: 0;
}

.ui-kit-middle {
  margin: 40px auto;
}

.bottom-laptop-picture {
  margin: 0 auto;
  height: 220px;
}

/* Footer section  */
footer {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}
.footer-section {
  max-width: 1280px;
  width: 100%;
  background-color: var(--black);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
}

.copyright {
  color: #ffffff;
  font-size: 14px;
}

.footer-socials-icon {
  display: flex;
  gap: 16px;
}
