:root {
  --black: #2d2d2d;
  --white: #ffffff;
  --green: #009379;
  --yellow-container: #f8d57e;
  --yellow-400: #f8d57e;
  --yellow-700: #fcf33d;
  --silver-container: #f8f9ff;
  --light-green: #e5f4f2;
}
