:root{
    --black: #2D2D2D;
    --white: #FFFFFF;
    --green: #009379;
    --yellow-container: #F8D57E; 
    --yellow-400: #F8D57E; 
    --yellow-700: #fcf33d; 
    --silver-container: #F8F9FF;
    --light-green: #E5F4F2;
}