/* Nav, top-content, Intergrations & UI KIT buttons */

.borderless-btn {
  border-radius: 20px;
  background-color: var(--yellow-200);
  line-height: 24px;
  border: none;
  font-size: 16px;
  padding-top: 20px;
  padding-right: 25px;
  display: inline-block;
  cursor: pointer;
}

.borderless-btn:hover {
  color: var(--red-500);
}

.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  padding: 16px 50px;
  background-color: var(--green-700);
  gap: 8px;
  cursor: pointer;
  transition: all 0.35s;
  position: relative;
  z-index: 0;
}

.primary-btn * {
  position: relative;
  z-index: 2;
}

.rocket-launch {
  height: 20px;
  max-width: 20px;
  width: 100%;
  transition: filter 0.35s;
}

.primary-btn::after {
  position: absolute;
  content: "";
  top: 30%;
  left: 0;
  width: 0;
  height: 40%;
  background-color: var(--Aquasqueeze-100);
  transition: all 0.35s;
  z-index: 1;
}

.primary-btn:hover {
  color: var(--red-500);
}
.primary-btn:hover::after {
  width: 100%;
}

.primary-btn:hover .rocket-launch {
  filter: invert(28%) sepia(71%) saturate(6953%) hue-rotate(351deg)
    brightness(85%) contrast(122%);
}

.secondary-btn {
  border-radius: 20px;
  border: none;
  padding: 17px 50px;
  background-color: var(--Aquasqueeze-100);
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  z-index: 0;
}

.secondary-btn * {
  position: relative;
  z-index: 2;
}

.secondary-btn::after {
  position: absolute;
  content: "";
  top: 30;
  left: 0;
  width: 0;
  height: 40%;
  background-color: var(--green-700);
  transition: all 0.35s;
  z-index: 1;
}
.secondary-btn:hover {
  color: var(--white);
}

.secondary-btn:hover::after {
  width: 100%;
}

.alternative-primary-btn {
  display: none;
}

@media (max-width: 1024px) {
  .nav-bar .borderless-btn,
  .nav-bar .primary-btn,
  .nav-bar .secondary-btn {
    display: none;
    margin: 0%;
    padding: 0%;
  }

  .nav-bar .alternative-primary-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: none;
    padding: 16px 50px;
    background-color: var(--green-700);
    gap: 8px;
    cursor: pointer;
    transition: all 0.35s;
    position: relative;
    z-index: 0;
  }

  .nav-bar .alternative-primary-btn * {
    position: relative;
    z-index: 2;
  }

  .arrow-icon {
    height: 20px;
    max-width: 20px;
    width: 100%;
    transition: filter 0.35s;
  }

  .nav-bar .alternative-primary-btn::after {
    position: absolute;
    content: "";
    top: 30%;
    left: 0;
    width: 0;
    height: 40%;
    background-color: var(--Aquasqueeze-100);
    transition: all 0.35s;
    z-index: 1;
  }

  .nav-bar .alternative-primary-btn:hover {
    color: var(--red-500);
  }
  .nav-bar .alternative-primary-btn:hover::after {
    width: 100%;
  }

  .nav-bar .alternative-primary-btn:hover .arrow-icon {
    filter: invert(28%) sepia(71%) saturate(6953%) hue-rotate(351deg)
      brightness(85%) contrast(122%);
  }
}

/* Features buttons */

.features-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 275px;
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: var(--white);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 20px;
  cursor: pointer;
}

.features-btn:hover {
  border: 1px solid var(--green-700);
}

@media (max-width: 1024px) {
  .features-btn {
  }
}
