/* MAIN  SPECIFICATION */

.borderless-btn,
.secondary-btn {
  font-family: "Poppins", sans-serif;
  color: var(--green-700);
  font-weight: 600;
}

.primary-btn {
  font-family: "Poppins", sans-serif;
  color: var(--white);
  font-weight: 600;
}

ul {
  list-style: none;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: var(--black);
  line-height: 130%;
  letter-spacing: -2%;
  margin: 0;
}

p {
  font-family: "Mulish", sans-serif;
  color: var(--black);
  font-style: normal;
  line-height: 150%;
  font-size: 16px;
}

a {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: var(--green-700);
  text-decoration: none;
  line-height: 20px;
}

/* Button */
