body {
  margin: 0;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.yellow-container {
  width: 100%;
  height: auto;
  background-color: var(--yellow-200);
}

.silver-container {
  width: 100%;
  height: auto;
  background-color: var(--silver-50);
}

footer {
  margin: 0;
  padding: 0;
  background-color: var(--black);
}
