.nav-bar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  gap: 6px;
  margin-top: 34px;
  margin-left: 50px;
  margin-bottom: 34px;
}

.logo-wrapper img {
  max-width: 32px;
  height: 32px;
  width: 100%;
}

.logo-wrapper h1 {
  font-size: 21px;
  margin: 0;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  font-weight: bold;
}

.logo-wrapper span {
  font-weight: 400;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  gap: 20px;
  margin-right: 50px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .nav-bar {
    justify-content: space-between;
  }
  .logo-wrapper {
    margin-left: 30px;
  }

  .logo-wrapper h1 {
    display: none;
  }
  .nav-list {
    margin-right: 30px;
  }
}

@media (max-width: 480px) {
  .nav-list{
    margin-right: 20px;
  }
}
