/* Top content styles */
.top-content {
  display: flex;
  justify-content: space-evenly;
  gap: 100px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  padding: 120px 55px 0 55px;
}

.content-desc {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.content-desc h2 {
  font-size: 67px;
  margin: 0;
}

.content-desc p {
  font-size: 21px;
  line-height: 150%;
  padding-right: 16px;
  letter-spacing: 0%;
  margin: 0;
}

.content-desc span a {
  color: var(--blueribbon-500);
  font-size: 21px;
  line-height: 150%;
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

.content-button {
  display: flex;
  gap: 18px;
  padding-left: 0;
}

.content-picture {
  margin: 0 auto;
  height: 450px;
}

/* Media queries for top content */

@media (max-width: 1024px) {
  .top-content {
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0;
  }

  .content-desc {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
  }

  .content-button {
    justify-content: center;
    margin: 0;
  }

  .content-picture {
    height: 450px;
    margin: 0 auto;
  }
}
/* Start of feature section
 */

.features {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1280px;
  padding: 120px 55px;
  gap: 60px;
}

.full-mobile-picture {
  max-width: 540px;
  width: 100%;
  height: 450px;
}

.features-desc {
  margin: 0%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 570px;
}

.features h3 {
  font-size: 38px;
}

.features p {
  font-size: 21px;

  text-align: left;
  margin: 0%;
}

.features-group-btn {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  margin-top: 50px;
}

.features-btn img {
  width: 50px;
  height: 50px;
}

.features-btn span {
  font-size: 21px;
  font-family: "Mulish", sans-serif;
  line-height: 150%;
}

/* Media queries for features content */

@media (max-width: 1024px) {
  .features {
    flex-direction: column-reverse;
    align-items: center;
    gap: 60px;
    padding: 100px 32px;
  }

  .features-desc {
    text-align: center;
    width: 680px;
  }

  .full-mobile-picture {
    margin: 0 auto;
    height: auto;
  }
  .features p {
    max-width: 680px;
    padding-right: 15px;
  }
}

/* Start of latest work section */

.latest-work {
  margin: 0 auto;
  max-width: 1280px;
  padding: 120px 55px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.latest-work-headline {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latest-work-headline h3 {
  margin: 0;
  font-size: 38px;
}

.latest-work-headline span h3 {
  display: none;
}

.latest-work-headline p {
  margin: 0;
}

.project-lists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.project-group {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 20px;
  padding-bottom: 30px;
  gap: 30px;
}
.project-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 30px;
}

.project-details p {
  margin: 0;
  font-size: 21px;
}

.project-details h4 {
  margin: 0;
  font-size: 28px;
  font-weight: 600px;
}

.project-details span {
  margin: 0;
  font-size: 16px;
}

/* Media queries for selected/latest  work section */

@media (max-width: 1024px) {
  .latest-work {
    padding: 100px 32px;
  }

  .latest-work-headline {
    text-align: center;
    padding: 0;
  }

  .project-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin: 0 auto;
  }

  .latest-work-headline span h3 {
    display: inline;
    font-size: 38px;
  }

  .latest-work-headline h3 {
    display: none;
  }

  .project-group {
    max-width: 213.33px;
    width: 100%;
  }

  .project-details p {
    margin: 0;
    font-size: 16px;
  }

  .project-details h4 {
    margin: 0;
    font-size: 21px;
    font-weight: 600px;
  }

  .project-details span {
    margin: 0;
    font-size: 14px;
  }

  .project-picture {
    object-fit: contain;
  }
}

/* Customer reviews section */

.customer-reviews {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 1280px;
  text-align: center;
  margin: 0 auto;
  padding: 120px 55px;
}

.review-heading {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.review-heading h4 {
  margin: 0;
  font-size: 38px;
  letter-spacing: -2%;
}

.review-heading p {
  margin: 0;
  line-height: 150%;
}

.reviews-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.review-card-details {
  display: flex;
  gap: 30px;
  padding: 40px;
  background: var(--white);
  border-radius: 20px;
  width: 100%;
}

.customer-details {
  flex: 0 0 180px;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.customer-details-title {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.customer-details-title h5 {
  margin: 0;
  padding-top: 10px;
  font-size: 21px;
  font-weight: 600;
}

.customer-profile {
  width: 120px;
  height: 120px;
}

.customer-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}

.customer-rating {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.text-reviews {
  padding-right: 15px;
}

.rating-star {
  height: 20px;
  width: auto;
  display: block;
}

/* Media queries for top content */

@media (max-width: 1024px) {
  .customer-reviews {
    padding: 100px 32px;
    gap: 60px;
  }

  .reviews-card {
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
  }

  .review-card-details {
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 40px;
    gap: 30px;
    max-width: 680px;
  }

  .review-heading {
    max-width: 680px;
  }
}

/* Meet our team section  */

.our-team {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 120px 55px;
  margin: 0 auto;
  max-width: 1280px;
}

.our-team-heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.our-team-heading h4 {
  font-size: 38px;
  margin: 0;
}

.our-team-heading p {
  margin: 0;
}

.team-cards {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  max-width: 1170px;
  width: 100%;
}

.team-card-details {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 20px;
  gap: 30px;
  padding: 40px 30px;
}

.team-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
}

.team-profile h6 {
  font-size: 21px;
  margin: 0;
  font-weight: 600;
}

.team-profile span {
  font-size: 16px;
  line-height: 20%;
  color: var(--black);
}

.team-description {
  text-align: center;
  max-width: 310px;
  margin: 0 auto;
}

.team-description p {
  margin: 0;
}

.team-profile img {
  width: 100%;
}

.social-text {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 0 auto;
  padding-left: 0;
  max-width: 310px;
  width: 100%;
}

.social-text a:hover {
  color: var(--red-500);
}

/* Media queries for team content */

@media (max-width: 1024px) {
  .our-team {
    padding: 100px 32px;
  }

  .team-cards {
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    max-width: 680px;
  }

  .team-profile {
    margin: 0;
    align-items: center;
  }

  .team-profile img {
    max-width: 100px;
    object-fit: contain;
    height: auto;
  }

  .team-description {
    max-width: 100%;
    padding-left: 19px;
  }

  .personal-skills {
    padding-left: 10px;
  }
}
/* Companies Intergration section */

.intergrations-container {
  display: flex;
  flex-direction: column;
  padding: 120px 55px;
  gap: 40px;
  max-width: 1280px;
  margin: 0 auto;
}

.intergations-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.intergations-heading h4 {
  font-size: 38px;
}

.intergations-heading p {
  margin: 0;
}

.first-row img,
.second-row img,
.third-row img {
  padding: 40px 0;
  max-width: 64px;
}

.companies-icon {
  max-width: 1170px;
  display: flex;
  flex-direction: column;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 960px;
  margin: 0 auto;
}

.third-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 720px;
  margin: 0 auto;
}

#special-button {
  padding: 16px 50px;
  max-width: 275px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Media queries  for intergrations section*/

@media (max-width: 1024px) {
  .intergrations-container {
    padding: 100px 32px;
    gap: 40px;
  }

  .intergations-heading h4 {
    font-size: 38px;
  }

  .companies-icon {
    max-width: 680px;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .first-row {
    gap: 76px;
  }

  .second-row {
    gap: 67.5px;
    max-width: 520px;
    justify-content: center;
  }

  .third-row {
    gap: 66.67px;
    max-width: 400px;
    justify-content: center;
  }

  .first-row img,
  .second-row img,
  .third-row img {
    padding: 32px 0;
  }
}
/* Start of Landing Page UI KIT today  */

.ui-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.ui-kit-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 60px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 0px;
  text-align: center;
}

.ui-kit-top h4 {
  font-size: 50px;
}

.ui-kit-top p {
  font-size: 21px;
  margin: 0;
}

.ui-kit-middle {
  margin: 40px auto;
}

.bottom-laptop-picture {
  max-width: 1170px;
  width: 100%;
  height: auto;
}

.bottom-laptop-picture img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

/* Media queries for UI Kit section */

@media (max-width: 1024px) {
  .ui-kit-top {
    padding: 60px 60px 0 60px;
    text-align: center;
    height: auto;
  }

  .ui-kit-top h4 {
    padding-left: 80px;
    max-width: 660px;
  }
  .ui-kit-top p {
    padding-left: 40px;
  }

  .bottom-laptop-picture {
    max-width: 680px;
    width: 100%;
    height: auto;
  }

  .bottom-laptop-picture img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }
}
/* Footer section  */

.footer-section {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: var(--white);
  font-size: 14px;
}

.footer-socials-icon {
  display: flex;
  gap: 16px;
}
