:root {
  --black: #2d2d2d;
  --white: #ffffff;
  --green-700: #009379;
  --yellow-200: #f8d57e;
  --silver-50: #f8f9ff;
  --Aquasqueeze-100: #e5f4f2;
  --blueribbon-500: #3366ff;
  --red-500: #ff2323;
}
